Language: Cpp
BasedOnStyle: LLVM
IndentCaseLabels: true
NamespaceIndentation: All
AlwaysBreakAfterReturnType: None
SpaceBeforeInheritanceColon: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: All
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false